.roundbox250
{
    PADDING-RIGHT: 18px;
    PADDING-LEFT: 18px;
    BACKGROUND: url() no-repeat left bottom;
    PADDING-BOTTOM: 18px;
    MARGIN: 0px auto;
    WIDTH: 106px;
    POSITION: static
}
A:visited
{
    COLOR: #484848;
    TEXT-DECORATION: none
}
A:link
{
    COLOR: #484848;
    TEXT-DECORATION: none
}
A:active
{
    COLOR: #484848;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #0a6fb0;
    TEXT-DECORATION: underline
}
BODY
{
    FONT-SIZE: 9pt;
    COLOR: #464545;
    FONT-FAMILY: "돋움" , "arial", "vardana"
}
TABLE
{
    FONT-SIZE: 9pt;
    COLOR: #464545;
    FONT-FAMILY: "돋움" , "arial", "vardana"
}
TR
{
    FONT-SIZE: 9pt;
    COLOR: #464545;
    FONT-FAMILY: "돋움" , "arial", "vardana"
}
TD
{
    FONT-SIZE: 10pt;
    COLOR: #464545;
    FONT-FAMILY: "돋움" , "arial", "vardana"
}
SELECT
{
    FONT-SIZE: 9pt;
    COLOR: #464545;
    FONT-FAMILY: "돋움" , "arial", "vardana"
}
TEXTAREA
{
    FONT-SIZE: 9pt;
    COLOR: #464545;
    FONT-FAMILY: "돋움" , "arial", "vardana"
}
INPUT
{
    FONT-SIZE: 9pt;
    COLOR: #464545;
    FONT-FAMILY: "돋움" , "arial", "vardana"
}
BODY
{
    SCROLLBAR-FACE-COLOR: #e2e2e2;
    MARGIN: 0px;
    SCROLLBAR-HIGHLIGHT-COLOR: #f7f7f7;
    SCROLLBAR-SHADOW-COLOR: #cacaca;
    SCROLLBAR-3DLIGHT-COLOR: #cacaca;
    SCROLLBAR-ARROW-COLOR: #f7f7f7;
    SCROLLBAR-TRACK-COLOR: #eeeeee;
    SCROLLBAR-DARKSHADOW-COLOR: #f1f2f2
}
.line_14
{
    LINE-HEIGHT: 140%
}
.line_15
{
    LINE-HEIGHT: 150%
}
.line_16
{
    LINE-HEIGHT: 160%
}
.line_17
{
    LINE-HEIGHT: 170%
}
.line_18
{
    LINE-HEIGHT: 180%
}
.line_19
{
    LINE-HEIGHT: 190%
}
.line_20
{
    LINE-HEIGHT: 200%
}
.scroll
{
    BORDER-RIGHT: #ffffff 1px solid;
    BORDER-TOP: #ffffff 1px solid;
    SCROLLBAR-FACE-COLOR: #d9d9d9;
    SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
    BORDER-LEFT: #ffffff 1px solid;
    SCROLLBAR-SHADOW-COLOR: #ffffff;
    SCROLLBAR-3DLIGHT-COLOR: #d9d9d9;
    SCROLLBAR-ARROW-COLOR: #ffffff;
    SCROLLBAR-TRACK-COLOR: #ffffff;
    BORDER-BOTTOM: #ffffff 1px solid;
    SCROLLBAR-DARKSHADOW-COLOR: #d9d9d9;
    BACKGROUND-COLOR: white
}
.p15
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 15px
}
.p_10
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 7px;
    PADDING-TOP: 7px
}
.p_t15
{
    PADDING-TOP: 15px
}
.p_t20
{
    PADDING-TOP: 20px
}
.p_t70
{
    PADDING-TOP: 70px
}
.p_t3
{
    PADDING-TOP: 3px
}
.p_t5
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 5px
}
.p_t10
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 10px
}
.p_t20
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 20px
}
.p_tb6
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 6px;
    PADDING-TOP: 6px
}
.p_tb10
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px
}
.p_tb20
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 20px;
    PADDING-TOP: 20px
}
.p_b20
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 20px;
    PADDING-TOP: 0px
}
.p_13
{
    PADDING-RIGHT: 13px;
    PADDING-LEFT: 13px;
    PADDING-BOTTOM: 6px;
    PADDING-TOP: 6px
}
.p_l5
{
    PADDING-LEFT: 5px
}
.p_l10
{
    PADDING-LEFT: 10px
}
.p_l15
{
    PADDING-LEFT: 15px
}
.p_l20
{
    PADDING-LEFT: 20px
}
.p_l25
{
    PADDING-LEFT: 25px
}
.p_l30
{
    PADDING-LEFT: 30px
}
.pd_l40
{
    PADDING-LEFT: 40px
}
.p_r5
{
    PADDING-RIGHT: 5px
}
.p_r10
{
    PADDING-RIGHT: 10px
}
.p_lr10
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px
}
.p_rb10
{
    PADDING-RIGHT: 10px;
    PADDING-BOTTOM: 10px
}
.p_b10
{
    PADDING-BOTTOM: 10px
}
.p_b15
{
    PADDING-BOTTOM: 15px
}
.p_a1
{
    PADDING-RIGHT: 1px;
    PADDING-LEFT: 1px;
    PADDING-BOTTOM: 1px;
    PADDING-TOP: 1px
}
.p_a3
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px
}
.p_a5
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 5px
}
.p_a10
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 20px;
    PADDING-TOP: 10px
}
.p_a10_2
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px
}
.pd_a20
{
    PADDING-RIGHT: 20px;
    PADDING-LEFT: 20px;
    PADDING-BOTTOM: 20px;
    PADDING-TOP: 20px
}
.p10
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px
}
.pl10
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px
}
.plr10
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 10px
}
.p_lt10
{
    PADDING-LEFT: 10px;
    PADDING-TOP: 10px
}
.f7
{
    FONT-SIZE: 7pt;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-TOP: 0px;
    PADDING-BOTTOM: 0px;
    COLOR: #c15a21;
    FONT-FAMILY: "돋움", "Arial" , "Verdana";
    LETTER-SPACING: -0.05em
}
.f8
{
    FONT-SIZE: 8pt;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-TOP: 0px;
    PADDING-BOTTOM: 0px;
    COLOR: #7e7d7d;
    FONT-FAMILY: "굴림", "Arial" , "Verdana";
    LETTER-SPACING: -0.05em
}
.f8_1
{
    FONT-SIZE: 8pt;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-TOP: 0px;
    PADDING-BOTTOM: 0px;
    COLOR: #c15a21;
    FONT-FAMILY: "돋움", "Arial" , "Verdana";
    LETTER-SPACING: -0.05em
}
.f888
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: "돋움", "Arial" , "Verdana";
    LETTER-SPACING: -1px
}
.f88
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: "돋움", "Arial" , "Verdana";
    LETTER-SPACING: -0.05em
}
.f8888
{
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: "돋움", "Arial" , "Verdana";
    LETTER-SPACING: -0.05em
}
.f9
{
    FONT-SIZE: 9pt;
    COLOR: #345967;
    FONT-FAMILY: "돋움", "Arial" , "Verdana";
    LETTER-SPACING: -0.05em
}
.f10
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    FONT-SIZE: 14px;
    PADDING-BOTTOM: 10px;
    COLOR: #077686;
    PADDING-TOP: 10px;
    FONT-FAMILY: "돋움", "Arial" , "Verdana"
}
.f9_tt
{
    FONT-SIZE: 15px;
    COLOR: #077686;
    FONT-FAMILY: "중고딕", "Arial" , "Verdana"
}
.f11
{
    FONT-SIZE: 11px;
    COLOR: #9ca6a8;
    FONT-FAMILY: "돋움", "Arial" , "Verdana"
}
.f11_2
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 6px;
    COLOR: #6c6c6c;
    PADDING-TOP: 6px;
    FONT-FAMILY: "돋움", "Arial" , "Verdana"
}
.f13
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13pt;
    COLOR: #ffffff;
    FONT-FAMILY: "돋움", "Arial" , "Verdana";
    LETTER-SPACING: -3px;
    TEXT-ALIGN: center
}
.f14
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    PADDING-BOTTOM: 6px;
    COLOR: #2483aa;
    PADDING-TOP: 6px;
    FONT-FAMILY: "돋움", "Arial" , "Verdana";
    LETTER-SPACING: -0.05em;
    TEXT-ALIGN: center
}
.f14_2
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    PADDING-BOTTOM: 6px;
    PADDING-TOP: 6px;
    FONT-FAMILY: "돋움", "Arial" , "Verdana";
    LETTER-SPACING: -0.05em
}
.f15
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 15px;
    PADDING-BOTTOM: 10px;
    COLOR: #ffffff;
    PADDING-TOP: 10px;
    FONT-FAMILY: "돋움", "Arial" , "Verdana"
}
.f11_10
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px;
    FONT-FAMILY: "돋움", "Arial" , "Verdana"
}
.f_notice
{
    FONT-SIZE: 8pt;
    COLOR: #636563;
    FONT-FAMILY: "돋움", "Arial" , "Verdana";
    LETTER-SPACING: -0.05em
}
.copy
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    COLOR: #6c6c6c;
    PADDING-TOP: 0px;
    FONT-FAMILY: "돋움", "Arial" , "Verdana";
    TEXT-ALIGN: right
}
.pro
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 33px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px;
    FONT-FAMILY: "돋움", "Arial" , "Verdana";
    LETTER-SPACING: -0.1em
}
.title
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    FONT-FAMILY: "돋움", "Arial" , "Verdana";
    LETTER-SPACING: -0.05em
}
.cen
{
    TEXT-ALIGN: center
}
.r
{
    TEXT-ALIGN: right
}
.btm
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 15px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 0px;
    COLOR: #7e7e7e;
    PADDING-TOP: 0px;
    FONT-FAMILY: "천리안체","돋움", "Arial" , "Verdana";
    LETTER-SPACING: -0.01em
}
.btm2
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 0px;
    COLOR: #5b5a5a;
    PADDING-TOP: 0px;
    FONT-FAMILY: "돋움", "Arial" , "Verdana";
    LETTER-SPACING: -0.05em
}
.f_in
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #58802b;
    LETTER-SPACING: -0.05em
}
.f_in A:link
{
    FONT-SIZE: 11px;
    COLOR: #58802b;
    TEXT-DECORATION: none
}
.f_in A:visited
{
    FONT-SIZE: 11px;
    COLOR: #58802b;
    TEXT-DECORATION: none
}
.f_in A:active
{
    FONT-SIZE: 11px;
    COLOR: #58802b;
    TEXT-DECORATION: none
}
.f_in A:hover
{
    FONT-SIZE: 11px;
    COLOR: #58802b;
    TEXT-DECORATION: none
}
.notice
{
    FONT-SIZE: 12px;
    COLOR: #575757;
    TEXT-DECORATION: none
}
.notice A:link
{
    FONT-SIZE: 12px;
    COLOR: #575757;
    TEXT-DECORATION: none
}
.notice A:visited
{
    FONT-SIZE: 12px;
    COLOR: #575757;
    TEXT-DECORATION: none
}
.notice A:active
{
    FONT-SIZE: 12px;
    COLOR: #575757;
    TEXT-DECORATION: none
}
.notice A:hover
{
    FONT-SIZE: 12px;
    COLOR: #396894;
    TEXT-DECORATION: none
}
.f8_t
{
    PADDING-RIGHT: 30px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 10px;
    COLOR: #8fdbf9;
    PADDING-TOP: 10px;
    LETTER-SPACING: -0.05em;
    TEXT-DECORATION: none
}
.f8_t A:link
{
    FONT-SIZE: 11px;
    COLOR: #8fdbf9;
    TEXT-DECORATION: none
}
.f8_t A:visited
{
    FONT-SIZE: 11px;
    COLOR: #8fdbf9;
    TEXT-DECORATION: none
}
.f8_t A:active
{
    FONT-SIZE: 11px;
    COLOR: #8fdbf9;
    TEXT-DECORATION: none
}
.f8_t A:hover
{
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
.comm
{
    FONT-SIZE: 11px;
    COLOR: #535353;
    LETTER-SPACING: -0.05em;
    TEXT-DECORATION: none
}
.comm A:link
{
    COLOR: #535353;
    TEXT-DECORATION: none
}
.comm A:visited
{
    COLOR: #535353;
    TEXT-DECORATION: none
}
.comm A:active
{
    COLOR: #535353;
    TEXT-DECORATION: none
}
.comm A:hover
{
    COLOR: #802469;
    TEXT-DECORATION: none
}
.st
{
    FONT-SIZE: 14px;
    COLOR: #009900;
    LETTER-SPACING: -0.05em;
    TEXT-DECORATION: none
}
.st A:link
{
    FONT-SIZE: 14px;
    COLOR: #009900;
    TEXT-DECORATION: none
}
.st A:visited
{
    COLOR: #535353;
    TEXT-DECORATION: none
}
.st A:active
{
    COLOR: #535353;
    TEXT-DECORATION: none
}
.st A:hover
{
    FONT-WEIGHT: bold;
    COLOR: #3a7a26;
    TEXT-DECORATION: none
}
INPUT
{
    BACKGROUND-COLOR: #ffffff
}
input1
{
    FONT-SIZE: 12px;
    COLOR: #444444;
    HEIGHT: 16px;
    BACKGROUND-COLOR: #ffffff
}
.input
{
    BORDER-RIGHT: #d6d3ce 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #d6d3ce 1px solid;
    PADDING-LEFT: 3px;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: #d6d3ce 1px solid;
    COLOR: #484848;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #d6d3ce 1px solid;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #ffffff
}
.input_gray
{
    BORDER-RIGHT: #d6d3ce 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #d6d3ce 1px solid;
    PADDING-LEFT: 3px;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: #d6d3ce 1px solid;
    COLOR: #484848;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #d6d3ce 1px solid;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #f7f7f7
}
.input_gray18
{
    BORDER-RIGHT: #c9c8c7 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #c9c8c7 1px solid;
    PADDING-LEFT: 3px;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: #c9c8c7 1px solid;
    COLOR: #484848;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #c9c8c7 1px solid;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #ffffff
}
.input2
{
    BORDER-RIGHT: #296ba8 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #296ba8 1px solid;
    PADDING-LEFT: 3px;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: #296ba8 1px solid;
    COLOR: #ffffff;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #296ba8 1px solid;
    HEIGHT: 16px;
    BACKGROUND-COLOR: #3488d6
}
.input_box
{
    BORDER-RIGHT: #e48c02 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #e48c02 1px solid;
    PADDING-LEFT: 3px;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: #e48c02 1px solid;
    COLOR: #b97100;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #e48c02 1px solid;
    HEIGHT: 14px;
    BACKGROUND-COLOR: #e9cb8f
}
TEXTAREA
{
    BORDER-RIGHT: #e0dede 1px solid;
    PADDING-RIGHT: 10px;
    BORDER-TOP: #e0dede 1px solid;
    PADDING-LEFT: 10px;
    SCROLLBAR-FACE-COLOR: #ffffff;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 10px;
    BORDER-LEFT: #e0dede 1px solid;
    COLOR: #818181;
    LINE-HEIGHT: 120%;
    SCROLLBAR-ARROW-COLOR: #e0dede;
    PADDING-TOP: 10px;
    SCROLLBAR-TRACK-COLOR: #ffffff;
    BORDER-BOTTOM: #e0dede 1px solid;
    BACKGROUND-COLOR: #ffffff
}
.textarea_noline
{
    BORDER-RIGHT: #e0dede 1px solid;
    PADDING-RIGHT: 10px;
    BORDER-TOP: #e0dede 1px solid;
    PADDING-LEFT: 10px;
    SCROLLBAR-FACE-COLOR: #ffffff;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 10px;
    BORDER-LEFT: #e0dede 1px solid;
    COLOR: #7d7b7b;
    LINE-HEIGHT: 120%;
    SCROLLBAR-ARROW-COLOR: #e0dede;
    PADDING-TOP: 10px;
    SCROLLBAR-TRACK-COLOR: #ffffff;
    BORDER-BOTTOM: #e0dede 1px solid;
    BACKGROUND-COLOR: #ffffff
}
.textarea2
{
    BORDER-RIGHT: #cdcdcd 1px solid;
    BORDER-TOP: #cdcdcd 1px solid;
    SCROLLBAR-FACE-COLOR: #f7f7f7;
    FONT-SIZE: 12px;
    BORDER-LEFT: #cdcdcd 1px solid;
    COLOR: #484848;
    LINE-HEIGHT: 120%;
    SCROLLBAR-ARROW-COLOR: #acacac;
    SCROLLBAR-TRACK-COLOR: #ffffff;
    BORDER-BOTTOM: #cdcdcd 1px solid;
    BACKGROUND-COLOR: #ffffff
}
.radio
{
    BORDER-RIGHT: #cdcdcd 0px solid;
    BORDER-TOP: #cdcdcd 0px solid;
    BORDER-LEFT: #cdcdcd 0px solid;
    CURSOR: hand;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #cdcdcd 0px solid;
    HEIGHT: 14px;
    BACKGROUND-COLOR: #f7f7f7;
    select: url(../inc/selectBox.htc);
    valign: top
}
.sub1
{
    BORDER-RIGHT: #cdcdcd 1px solid;
    BORDER-TOP: #cdcdcd 1px solid;
    PADDING-LEFT: 10px;
    FILTER: alpha(opacity=70);
    BORDER-LEFT: #cdcdcd 1px solid;
    BORDER-BOTTOM: #cdcdcd 1px solid;
    BACKGROUND-COLOR: #ffffff
}
.sub1 A:link
{
    FONT-SIZE: 12px;
    COLOR: #383838;
    TEXT-DECORATION: none
}
.sub1 A:visited
{
    FONT-SIZE: 12px;
    COLOR: #383838;
    TEXT-DECORATION: none
}
.sub1 A:active
{
    FONT-SIZE: 12px;
    COLOR: #383838;
    TEXT-DECORATION: none
}
.sub1 A:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #ea5c17;
    TEXT-DECORATION: none
}
.style1 {
	color: #FF6600;
	font-weight: bold;
}
.style2 {
	font-family: "굴림";
	font-size: 11px;
}
.style3 {
	font-family: "굴림";
	font-size: 13px;
	font-weight: bold;
	color: #a98656;
}
.style4 {color: #9D9D9D}
.style5 {color: #4F4F4F}
.style6 {
	font-family: "굴림";
	font-size: 12px;
}
.style8 {font-family: "굴림"; font-size: 12px; font-weight: bold; }
.style9 {color: #FF0000}
.style10 {font-family: "맑은고딕","굴림"; font-weight: bold;}
.style11 {font-family: "맑은고딕","굴림"; font-weight: bold; color: #ff3300}
.text03{
	font-family: "굴림";
	font-size:9pt;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
}
.text05 {
	font: 11px "굴림", "돋움", Seoul, "한강체";
	color: #FF6600;
	text-decoration: none;
}

.textBold2 {
	font-family: "돋움";
	font-weight: bold;
	color: #999999;
	font-size: 12px;
}

.name-female {
	font-family: "돋움";
	font-weight: bold;
	color: #FF99CC;
	font-size: 12px;
}
.intro {
	font-family: "돋움";
	font-weight: bold;
	color: #006633;
	font-size: 15px;
}
.intro1 {
	font-family: "HY헤드라인M","돋움";
	font-weight: bold;
	color: #006633;
	font-size: 18px;
}
.text02 {
	font-family: "굴림";
	font-size: 12px;
	color: #333333;
	text-decoration: none;
}
.text04 {
	font-family: "굴림";
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
}
.text05 {
	font: 12px "굴림", "돋움", Seoul, "한강체";
	color: #FF6600;
	text-decoration: none;
}
}
.text06 {
	font-family: "??";
	font-size: 12px;
	color: #666666;
	text-decoration: none;
}
.text07 {
	font-family: "HY견고딕","돋움";
	font-size: 20px;
	color: #FFFF00;
	text-decoration: none;
}
.price { font-size:12px; font-family:"굴림","돋움"; color:#FE7F00; line-height:160%; font-weight:bolder; }
.price_b { font-size:14px; font-family:"굴림","돋움"; color:#FF4985; line-height:160%; font-weight:bolder; }

body > div.centered.col-lg-12.col-md-12.col-sm-12.container > div.table-responsive > form > table > tbody > tr > td
{
  vertical-align: middle;
}
